[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
bs4 = "*"
lxml = "*"
fake-useragent = "*"
pymongo = {extras = ["srv"], version = "*"}
python-bsonjs = "*"
python-dotenv = "*"
selenium = "*"
selenium-stealth = "*"
scrapy = "*"
pillow = "*"
scrapy-splash = "*"
autopager = "*"

[dev-packages]

[requires]
python_version = "3.11"
